@mixin screenXS() {
  @media (max-width: 1639px) {
    @content;
  }
}
@mixin screenL() {
  @media (max-width: 1234px) {
    @content;
  }
}

@mixin laptopL() {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin laptopXS() {
  @media (max-width: 1083px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin phoneXL() {
  @media (max-width: 470px) {
    @content;
  }
}

@mixin btn() {
  padding: 11px 35px;

  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: var(--primary);

  color: rgb(14, 14, 44);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  transition: opacity 0.1s ease-in;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: translateY(5px);
  }
}
