.try-free {
  padding: 11px 35px;

  border: 1px solid var(--primary);
  border-radius: 10px;
  background-color: var(--primary);

  color: rgb(14, 14, 44);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  transition: opacity 0.1s ease-in;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    transform: translateY(5px);
  }
}
