.weDo__categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @include phoneXL {
    grid-template-columns: 1fr;
  }
}
.weDo__category {
  max-width: 267px;
  border-radius: 10px;
  padding: 24px 22px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: var(--hover-bg);
  }
}
.weDo__img {
  padding-bottom: 31px;
  img {
    width: 73px;
    height: 63px;
    padding: 10px 15px;
    border-radius: 10px;
  }

  .weDo__img-1 {
    background-color: var(--primary-shade);
  }
  .weDo__img-2 {
    background-color: var(--secondary-shade);
  }
  .weDo__img-3 {
    background-color: var(--accent1-shade);
  }
  .weDo__img-4 {
    background-color: var(--accent2-shade);
  }
}
.weDo__category-title {
  padding-bottom: 20px;
}
